services:
  gwiki:
    image: docker.senomas.com/gwiki:latest
    ports:
      - "8080:8080"
    volumes:
      - "${WIKI_REPO_PATH_HOST:-.}:/notes"
      - "${WIKI_DATA_PATH_HOST:-./.wiki}:/data"
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      - WIKI_REPO_PATH=/notes
      - WIKI_DATA_PATH=/data
      - TZ=${TZ:-Asia/Jakarta}
