services:
  gwiki:
    image: docker.senomas.com/gwiki:latest
    ports:
      - "8080:8080"
    volumes:
      - "${WIKI_REPO_PATH_HOST:-.}:/notes"
      - "${WIKI_DATA_PATH_HOST:-./.wiki}:/data"
      - "${GIT_HOME_HOST:-./git-home}:/git-home"
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      - HOME=/home/gwiki
      - GIT_CONFIG_GLOBAL=/git-home/.gitconfig
      - GIT_CREDENTIALS_FILE=/git-home/.git-credentials
      - WIKI_REPO_PATH=/notes
      - WIKI_DATA_PATH=/data
      - TZ=${TZ:-Asia/Jakarta}
